In [2]:
def insert_data():
    data = [
        ("10:45AM", "Python Oddities Explained", "255A"),
        ("10:45AM", "Build-A-Database with Python", "255BC"),
        ("11:30AM", "Sculpting Data for ML", "255A"),
        ("11:45AM", "Web Scraping in Python", "355AB"),
        ("12:15PM", "Handling Timezones in Python", "255BC")
    ]
    sql = "INSERT INTO conference_schedule (time, talk_title, room) VALUES "
    value_strings = []
    for row in data:
        value_strings.append("('{}', '{}', '{}')".format(row[0], row[1], row[2]))
    sql += ", ".join(value_strings)
    return sql

# Your existing code...
import sqlite3

def create_table():
    return "CREATE TABLE conference_schedule (id INTEGER PRIMARY KEY AUTOINCREMENT, time VARCHAR(7), talk_title VARCHAR(255), room VARCHAR(5))"

conn = sqlite3.connect(":memory:")
c = conn.cursor()
c.executescript(create_table())
conn.commit()

### BEGIN TESTS
c.executescript(insert_data())
conn.commit()
### END TESTS